.navbar
  .navbar-inner
    .container
      .nav-collapse
        %ul.nav
          %li
            = link_to "Inicio", :action => "bienvenida", :controller => "principal"
        %ul.nav.pull-right
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = session[:rol].class
              \:
              \#{session[:usuario].nombre_completo}
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Cambiar mi clave", :action => "cambiar_mi_clave", :controller => "principal"
              %li.divider
              %li
                = link_to "Cerrar Sesión", :action => "cerrar_sesion", :controller => "principal"
      / /.nav-collapse
  / /navbar-inner
/ /navbar
-if flash[:mensaje]
  .alert.alert-info
    =flash[:mensaje]
%hr/
=form_tag({:action => "procesar_cambiar_mi_clave"},:class => "form-horizontal") do
  %fieldset
    %legend Datos para el cambio de clave
    .control-group
      %label.control-label Clave anterior:
      .controls
        =password_field :usuario, :clave_anterior, :class => "input"
    .control-group
      %label.control-label Clave nueva:
      .controls
        =password_field :usuario, :clave, :class => "input"
    .control-group
      %label.control-label Clave nueva (confirmación):
      .controls
        =password_field :usuario, :clave_confirmacion, :class => "input"
    .control-group
      .controls
        %button.btn.btn-primary.btn-large{:type => "submit"} Enviar