- if session[:usuario].es_docente?
  .navbar
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav
            %li
              = link_to "Inicio", :action => "docente", :controller => "principal"
            - if session[:usuario].es_docente_admin? || session[:usuario].es_estudiante_docente?
              %li
                = link_to "Volver a selección de roles", :action => "bienvenida", :controller => "principal"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Materias
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "crear_entrega"} Crear Entrega
          %ul.nav.pull-right
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = session[:rol].class
                \:
                \#{session[:usuario].nombre_completo}
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Cambiar mi clave", :action => "cambiar_mi_clave", :controller => "principal"
                %li.divider
                %li
                  = link_to "Cerrar Sesión", :action => "cerrar_sesion", :controller => "principal"
        / /.nav-collapse
    / /navbar-inner
  / /navbar
  -if flash[:mensaje]
    .alert.alert-info
      =flash[:mensaje]
  .bgtitles
    %h2
      ='Estudiantes de '+@materia.nombre
  %br/
  #listado-materias
    -@estudiantes.each do |estudiante|
      %h3
        -@datosEstudiante = Usuario.where(:cedula => estudiante.estudiante_cedula).first
        =link_to @datosEstudiante.nombre_completo
      %div
        %p
          ='Nombre: '+@datosEstudiante.nombres
          %br/
          ='Apellido: '+@datosEstudiante.apellidos
          %br/
          ='Cédula: '+@datosEstudiante.cedula
          %br/
          ='Correo: '+@datosEstudiante.correo
          %br/
          ='Sección: '+estudiante.seccion_nombre
          %br/