- if session[:usuario].es_administrador?
  .navbar
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav
            %li
              = link_to "Inicio", :action => "index"
            %li
              = link_to "Materias", :action => "listarMaterias"
            %li
              = link_to "Volver a Docentes", :action => "listarDocentes"
            - if session[:usuario].es_estudiante_admin? || session[:usuario].es_docente_admin?
              %li
                = link_to "Volver a selección de roles", :action => "bienvenida", :controller => "principal"
          %ul.nav.pull-right
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = session[:rol].class
                \:
                \#{session[:usuario].nombre_completo}
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Cambiar mi clave", :action => "cambiar_mi_clave", :controller => "principal"
                %li.divider
                %li
                  = link_to "Cerrar Sesión", :action => "cerrar_sesion", :controller => "principal"
        / /.nav-collapse
    / /navbar-inner
  / /navbar
-if flash[:mensaje]
  .alert.alert-info
    =flash[:mensaje]
.container
  .bgtitles
    %h2
      Agregar Materia
  %br/
  .span4
    .nada
      asdsd
  .span4
    .squarelogin
      %br/
      =form_tag({:action => "procesar_agregar_materia"}) do
        =hidden_field_tag 'docente_cedula', @docenteCedula
        =collection_select :materia, :id, Materia.all, :id, :nombre, {:prompt => "Seleccione una materia"}, {:class => "input-xxlarge"}
        %br/
        %button.btn.btn-primary.btn-large{:type => "submit"} Agregar
  %br/
  %br/	