- if session[:usuario].es_administrador?
  .navbar
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav
            %li
              = link_to "Inicio", :action => "index"
            %li
              = link_to "Docentes", :action => "listarDocentes"
            %li
              = link_to "Volver a Materias", :action => "listarMaterias"
            - if session[:usuario].es_estudiante_admin? || session[:usuario].es_docente_admin?
              %li
                = link_to "Volver a selección de roles", :action => "bienvenida", :controller => "principal"
          %ul.nav.pull-right
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = session[:rol].class
                \:
                \#{session[:usuario].nombre_completo}
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Cambiar mi clave", :action => "cambiar_mi_clave", :controller => "principal"
                %li.divider
                %li
                  = link_to "Cerrar Sesión", :action => "cerrar_sesion", :controller => "principal"
        / /.nav-collapse
    / /navbar-inner
  / /navbar
-if flash[:mensaje]
  .alert.alert-info
    =flash[:mensaje]
.container
  .bgtitles
    %h2
      =@seleccionado.nombre
  %br/
  .span4
    .nada
      asdsd
  .span4
    .squarelogin
      %br/
      =form_tag({:action => "procesar_eliminar_docente"}) do
        =hidden_field_tag 'materia_id', @materiaid
        =collection_select :usuario, :cedula, Docente.all, :usuario_cedula, :nombreCompleto, {:prompt => "Seleccione un docente"}, {:class => "input-xxlarge"}
        %br/
        %button.btn.btn-primary.btn-large{:type => "submit"} Eliminar de la materia
  %br/
  %br/