!!!
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}
      %title Coworker - Inicio de Sesión
      = stylesheet_link_tag    "application"
      = javascript_include_tag "application"
      = javascript_include_tag 'jquery-jrumble'
      = javascript_include_tag 'jquery.ui.min'
      = javascript_include_tag 'jquery.tipsy'
      = javascript_include_tag 'iphone.check'
      = javascript_include_tag 'login'
      = stylesheet_link_tag    "tipsy"
      = csrf_meta_tags
  %body
  =yield
  .clear
  #versionBar
    .copyright &copy; Copyright 2012  Todos los derechos reservados Rodriguez Marchesini y Asociados, C.A.